<ul>
  <% if article.comments.length > 0 %>
    <% article.comments.each do |comment| %>
      <li>
        <p><strong><%= comment&.user&.email || comment.commenter %>:</strong> <%= comment.body %></p>
      </li>
    <% end %>
  <% else %>
    <p>Sin Comentarios</p>
  <% end %>
</ul>