<div>
  <h1>Artículos</h1>
  <% if user_signed_in? %>
    <%= link_to "Nuevo Artículo", new_article_path, class: "button" %>
  <% end %>
</div>

<% @articles.each do |article| %>
  <article>
    <%= render article %>
  </article>
<% end %>