/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

main {
  padding: 50px;
}

article {
  border: 0;
  border-radius: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  margin: 20px 0;
  padding: 30px;
}
article:hover,
article:focus {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  transform: scale(1.03);
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 5px;
}


/* ---------------------------- */

.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .btn {
  background-color: #555;
  color: #fff;
  padding: 5px 10px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.navbar .btn:hover {
  background-color: #777;
}

.navbar .btn-login {
  background-color: #007bff;
}

.navbar .btn-login:hover {
  background-color: #0056b3;
}

.navbar .btn-logout {
  background-color: #dc3545;
}

.navbar .btn-logout:hover {
  background-color: #a71d2a;
}


